version: '3.8'

networks:
  lakehouse-net:
    driver: bridge

services:
  # service1: minio
  minio:
    image: minio/minio
    container_name: lakehouse-minio
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    networks:
      - lakehouse-net
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - ./data_lake:/data
    command: server /data --console-address ":9001"

  # service2: postges
  postgres:
    image: postgres:13
    container_name: lakehouse-postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - lakehouse-net


  # service3: dagster-webserver
  dagster-webserver:
    build: ./Dagster_home
    container_name: lakehouse-dagster-webserver
    ports:
      - "3000:3000"
    networks:
      - lakehouse-net
    environment:
      DAGSTER_HOME: /opt/dagster/dagster_home
    env_file:
      - .env
    volumes:
      - ./Dagster_home:/opt/dagster/app
      - ./Dagster_home/dagster.yaml:/opt/dagster/dagster_home/dagster.yaml
    depends_on:
      - postgres
    command: dagster-webserver -h 0.0.0.0 -p 3000
  

  # service4: dagster-daemon
  dagster-daemon:
    build: ./Dagster_home
    container_name: lakehouse-dagster-daemon
    networks:
      - lakehouse-net
    environment:
      DAGSTER_HOME: /opt/dagster/dagster_home
    env_file:
      - .env
    volumes:
      - ./Dagster_home:/opt/dagster/app
      - ./Dagster_home/dagster.yaml:/opt/dagster/dagster_home/dagster.yaml
    depends_on:
      - postgres
    command: dagster-daemon run

