dagster
dagster-webserver
dagster-postgres
dagster-aws
dagster-docker
pandas
pyspark==3.5.1
delta-spark==3.2.0

pyarrow         
# Engine chính để xử lý Parquet (Rất quan trọng)
fastparquet      
# Engine dự phòng
s3fs 
#Để Pandas nói chuyện với MinIO (S3)
